<html>
    <head>
        <title>Haifisch@djangogirls</title>
    </head>
    <body>
        <div>
            <h1><a href="">Haifisch@djangogirls</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Here we are at the workshop.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Struggling this morning, but getting into the swing of it now!!</p>
        </div>
    </body>
</html>